<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm thành phố</title>
</head>
<body>
<h1>Thêm thành phố</h1>

<form th:action="@{/city/add}" th:object="${city}" method="post">
    <table>
        <tr>
            <td>Tên:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <p th:if="${#fields.hasErrors('name')}" th:error="*{name}"></p>
        </tr>
        <tr>
            <td>Quốc gia:</td>
            <td>
                <select th:field="*{country}">
                    <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Diện tích:</td>
            <td><input type="number" th:field="*{area}"/></td>
            <p th:if="${#fields.hasErrors('area')}" th:error="*{area}"></p>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td><input type="number" th:field="*{population}"/></td>
            <p th:if="${#fields.hasErrors('population')}" th:error="*{population}"></p>
        </tr>
        <tr>
            <td>GDP:</td>
            <td><input type="number" th:field="*{gdp}"/></td>
            <p th:if="${#fields.hasErrors('gdp')}" th:error="*{gdp}"></p>
        </tr>
        <tr>
            <td>Giới thiệu:</td>
            <td><textarea rows="3" th:field="*{description}"/></td>
        </tr>
    </table>
    <button style="background-color:darkblue;color: white" type="submit">Nhập thành phố</button> &nbsp;
    <button style="background-color:darkblue;color: white" type="reset"><a th:href="@{/city}">Thoát</a></button>
</form>
</body>
</html>