<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Xóa thành phố</h3>
<form th:action="@{/city/delete}" method="post" th:object="${city}">
    <input type="hidden" th:field="*{id}">
    <p>Bạn có chắc muốn xóa thành phố: <span th:text="${city.name}"></span></p>
    <button style="background-color:darkblue;color: white" type="submit">Xóa</button>&nbsp;
    <button style="background-color:darkblue;color: white"><a th:href="@{/city}">Thoát</a></button>
</form>

</body>
</html>