<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa thành phố</title>
</head>
<body>
<h1>Chỉnh sửa thành phố</h1>

<form th:action="@{/city/edit}" th:object="${city}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Tên:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Quốc gia:</td>
            <td>
                <select th:field="*{country}">
                    <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Diện tích:</td>
            <td><input type="number" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td><input type="number" th:field="*{population}"/></td>
        </tr>
        <tr>
            <td>GDP:</td>
            <td><input type="number" th:field="*{gdp}"/></td>
        </tr>
        <tr>
            <td>Giới thiệu:</td>
            <td><textarea rows="3" th:field="*{description}"/></td>
        </tr>
    </table>
    <button type="submit">Cập nhật</button> &nbsp;
    <button type="reset"><a th:href="@{/city}">Thoát</a></button>
</form>
</body>
</html>